html {
  background: url("wallpaper.jpg") repeat;
}
body {
  font-family: monospace;
  font-size: 2em;
  width: 20em;
  margin: 0 auto;
  background: #fff;
  padding: 0 1em 1em 1em;
}
input, textarea, a.button {
  border: 1px solid #000;
}
input.title {
  width: 100%;
  height: 3em;
}

textarea.plot {
  width: 100%;
  height: 15em;
}

a {
  color: #000;
}

a.button {
  padding: 0.25em 0.5em;
  background-color: #eee;
  text-decoration: none;
}
